@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Glacial Indifference;
    margin: 0;
    text-align: center;
  }

 main {
    display: flex;
    flex-direction: column;
 
  }

 .columns {
margin: 0;
  }

  .column {
    padding: 15px;
    width: 0;
  }
  .qAndA {
    display: flex;
    flex-direction: column;

  }

  .asnwer-btns {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    min-width: 1280px;
    position: relative;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
    float: right;
    right: 50px;
 }