@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
* {
    box-sizing: border-box;
  }
  
  header {
    background-color: #BFD7B5;
    color: #060000;
    padding: 10px 0;
    text-align: center;
  }

  body {
    font-family: Glacial Indifference;
    margin: 0;
    text-align: center;
    background-color: #E7EFC5;
  }

 main {
    display: flex;
    flex-direction: column;
 
  }

 .columns {
margin: 0;
  }

  .column {
    padding: 15px;
    width: 0;
  }
  .qAndA {
    display: flex;
    flex-direction: column;
    color: black;

  }

  .asnwer-btns {
    display: flex;
    flex-direction: column;
  }
  
  /*.main-header {
    display: flex;
    padding: 50px;
    background: #13293d;
    color: #fff;
  }*/

  img {
    float: left;
    left: 20px;
 }
 r1 {
    float:  left;
 }

 .h1
  {
    font-size: 30px;
    font-weight: bold;
    color: #060000;
  }

 /* set the background color of the body */

